* {
	margin: 0;
	border: 0;
	text-align: center;
}
body {
	background-color: rgb(77, 77, 77);
}
.top {
	color: rgb(204, 204, 204);
	margin-top: 10px;
	margin-bottom: 0px;
}
.one {
	padding: 0px;
	display: inline-block;
}
fieldset {
	background-color: rgb(204, 204, 204);
	border: 2px solid black;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	padding: 0px;
}
hr {
	border: 1px solid black;
	margin-left: 10px;
	margin-right: 10px;
}
table {
	border: 3px solid black;
	border-collapse: collapse;
	margin: auto;
	max-width: 95%;
	text-align: center;
	font-weight: bold;
	font-family: sans-serif;
}
td {
	border: 3px solid black;
	font-size: 3em;
	padding: 0em .25em;
}
td:hover {
    background-color: rgba(77, 77, 77, 0.5);
}
input[type=submit] {
	border: 2px solid black;
	font-weight: bold;
	background-color: rgb(204, 204, 204);
}
input[type=submit].grid {
	opacity: 0;
	font-size: 1em;
	padding: 0em 0em;
	cursor: pointer;
	border: 0px;
}
input[type=submit].two {
	cursor: pointer;
	border: 0px;
	background-color: rgb(77, 77, 77);
	color: rgb(204, 204, 204);
}
input[value=Reset].two {
	font-family: serif;
	font-weight: normal;
	font-size: 1em;
	color: yellow;
}
input[value="Switch Turns: Yes"].two {
	font-family: serif;
	font-weight: normal;
	font-size: 1em;
	color: yellow;
}
input[value="Switch Turns: No"].two {
	font-family: serif;
	font-weight: normal;
	font-size: 1em;
	color: yellow;
}
input[value="Play First"].two {
	font-family: serif;
	font-weight: normal;
	font-size: 1em;
	color: yellow;
}
input[value="Play Second"].two {
	font-family: serif;
	font-weight: normal;
	font-size: 1em;
	color: yellow;
}
a:link {
	text-decoration: none;
	color: blue;
}
a:visited {
	text-decoration: none;
	color: blue;
}

